* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: sans-serif, "new times roman";
}

.logo {
  margin-bottom: 0 auto;
  display: block;
  text-align: center;
}

h1 {
  font-size: 22px;
  text-align: center;
  color: rgba(2, 2, 39, 0.801);
  margin-bottom: 10px;
  margin-top: 0px;
  border-top: dotted rgba(243, 112, 5, 0.904);
  border-bottom: dotted rgba(2, 2, 39, 0.801);
  border-width: 0.2em;
}

button {
  margin: 0 30px;
  border-color: rgba(243, 112, 5, 0.904);
  background-color: rgba(2, 2, 39, 0.801) ;
  width: 100px;
  font-weight: bold;
}

.contact {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.about {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.career {
  color:white;
  text-decoration: none;
  font-size: 15px;
}

nav {
  text-align: center;
}

